@model BurgerProject.Data.Entities.Concrete.AppUser
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <h3>Customer Details</h3>
    <hr />
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4">


                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Surname)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Surname)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.UserName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.UserName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.EmailConfirmed)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.EmailConfirmed)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PhoneNumberConfirmed)
                </dd>
            </div>
            <div class="col-lg-5 d-flex justify-content-center align-items-center">
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>

</body>
</html>